<div class="divCardContainer">
    <div class="cardContainer">
        <div class="row">
            <div class="col">
                <label class="label" position="floating">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="input" id="emailRegistration" type="text" required [(ngModel)]="emailRegistration">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="label" position="floating">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="input" id="passwordRegistration" type="password" required [(ngModel)]="passwordRegistration">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btnSignUp" (click)="signUp()" type="submit">
                    Sign Up
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="label">
                    ¿Ya esta registrado?
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col colLblSignUp">            
                <button class="btnLogin label" [routerLink]="['/login']">
                    <u>Login</u>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col colBtnUser">
                <button class="btnUser1" (click)="enterCredentials(1)">
                    Optimus
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col colBtnUser">
                <button class="btnUser2" (click)="enterCredentials(2)">
                    Megatron
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col colBtnUser">
                <button class="btnUser3" (click)="enterCredentials(3)">
                    Thundertron
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col colBtnUser">
                <button class="btnUser4" (click)="enterCredentials(4)">
                    Quintessons
                </button>
            </div>
        </div>
    </div>
</div>