<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="row">
        <div class="col">
            <div class="titleHome">
                <h1>Bienvenidos a la sala de juegos!</h1>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col">
            <div class="listHome">
                <ul>
                    <li>
                        <a routerLink="/juegos">Juegos</a>
                    </li>
                    <div *ngIf="_authService.isLogged">
                        <li>
                            <a routerLink="/encuesta">Encuesta</a>
                        </li>
                    </div>                    
                    <li>
                        <a routerLink="/quien-soy">Quien soy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col">
            <app-chat></app-chat>
        </div>
    </div>       
</body>