.divCardContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

.cardContainer {
    border: solid black;
    padding: 50px;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    -webkit-animation: scale-in-center 1.5s cubic-bezier(.215, .61, .355, 1.000);
    animation: scale-in-center 1.5s cubic-bezier(.215, .61, .355, 1.000)
}

.row {
    margin-top: 5px;
}

.label {
    font-weight: bold;
    font-size: 15;
    color: #000000;
}

.btnSignUp {
    background-color: transparent;
    border: none;
    color: #0a0404;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.colLblSignUp {
    text-align: center;
}

.colBtnUser {
    text-align: center;
}

.btnSignIn {
    background: #51f803;
    color: #000000;
    font-weight: bold;
}

.btnUser1 {
    background: #e2e2e2;
    color: #000000;
    font-weight: bold;
}

.btnUser2 {
    background: #9e9e9e;
    color: #000000;
    font-weight: bold;
}

.btnUser3 {
    background: #3d3d3d;
    color: #000000;
    font-weight: bold;
}

.btnUser4 {
    background: #000000;
    color: #33ff00;
    font-weight: bold; 
    border: solid rgb(185, 185, 185);   
}

.input {
    background:#FFF;
    font-weight: bold;    
    opacity: 0.6;
}