<div class="userContainer">
    <div class="row">
        <div class="col">
            <label class="lblName" position="floating">Quien soy</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="imgUser" src="assets/Me/Me.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="lblDescription" position="floating">
                <!-- Descripcion -->
                Me llamo Pablo Martín Torretta y soy estudiante de la Tecnicatura Superior en Programación de la UTN Regional Avellaneda.
                <br>
                <br>
                Entre mis hobbies se halla ser audiofilo y el coleccionismo de Transformers
            </label>
        </div>
    </div>
</div>
<div class="gamesContainer">
    <div class="row">
        <div class="col">
            <label class="lblGames" position="floating">Juegos</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="lblHangedUp" position="floating">Ahorcado</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Ahorcado -->
            <label class="lblHangedUpDesc" position="floating">
                El jugador debe ir arriesgando letra por letra hasta acertar la palabra escondida evitando acumular las fallas suficientes como para que pierda el juego.
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="lblHigherLower" position="floating">Mayor-Menor</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Mayor-Menor -->
            <label class="lblHigherLowerDesc" position="floating">
                El jugador tiene a su disposicion una carta y debe adivinar si la siguiente carta a robar sera Mayor o Menor que la actual. En caso de acertar continua acumulando puntos.
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="lblAsked" position="floating">Preguntados</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Preguntados -->
            <label class="lblAskedDesc" position="floating">
                El jugador vera una imagen de la bandera de un pais cualquiera y debe acertar de entre las opciones disposibles de que país se trata. En caso de acertar continua acumulando puntos.
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="lblGuessWho" position="floating">Adivina quien</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Adivina quien -->
            <label class="lblGuessWhoDesc" position="floating">
                El jugador vera la silueta de un famoso decepticon y debe adivinar de quien se trata ingresando correctamente su nombre en el cuadro de texto. Si acierta sin pedir pistam gana 100 puntos, si solicita una pista, 50 puntos y si solicito 2 pistas, 25 puntos.
            </label>
        </div>
    </div>
</div>
